{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
    {% if user.is_active and user.is_staff %}
        {% url 'admin:password_change' as password_change_url %}
        {% if password_change_url %}
            <a href="{{ password_change_url }}">{% translate 'Change password' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.is_active and user.is_staff %}
        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
            {% csrf_token %}
            <button type="submit">{% translate 'Log out' %}</button>
        </form>
    {% endif %}
{% endblock %}
